*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #012FFF; */
}

.box{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    overflow: hidden;
    border-radius: 15px;
}

form{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    background: #08C5BB;
    padding: 1rem;
    transform: skewX(-5deg) translateX(-1.3rem);
    border-radius: 15px;
    padding-left: 2rem;
    position: relative;
    z-index: 2;
}

form > *{
    width: 40%;
    height: 2.5rem;
    transform: skewX(5deg);
}

input,select{
    /* padding-left: .5rem; */
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

input[type="file"]{
    /* width: calc(40% + 10rem); */
    transform: translateX(-50%);
    border: none;
}

input:focus,select:focus{
    border-bottom: 1px solid #FFF;
}

input::placeholder{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
}

.validation{
    width: 53%;
    height: 3.5rem;
    display: flex;
    background: pink;
    position: absolute;
    bottom: 3rem;
    right: -3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 7px;
}

.validation input{
    width: 50%;
    padding: 0;
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}

.validation input[type="submit"]{
    background: #012FFF;
    color: #FFFFFF;
}

.validation input[type="reset"]{
    background: #FFFFFF;
    color: #012FFF;
}

.illustration{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    transform: translateX(-3.3rem);
    border-radius: 15px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(168, 168, 168, 0.3);
}

.illustration > *{
    max-width: 75%;
    text-align: center;
    font-family: sans-serif;
}

.illustration h2{
    text-transform: uppercase;
    margin-bottom: 1rem;
    opacity: 0.5;
}

.btn_con{
    width: 30%;
    height: 3rem;
    margin-top: 1rem;
    border: 1px solid transparent;
}

.btn_con a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    background: #ff7c01;
    color: #FFFFFF;
}

.btn_con a:hover{
    background: #ff993a;
}