*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* min-height: 100vh; */
    /* background: red; */
}

main aside{
    width: 15%;
    height: 100vh;
    position: fixed;
}

main section{
    width: 85%;
    min-height: 100vh;
    padding: 2rem;
    margin-left: 15%;
    background: rgb(246, 246, 246);
}

/*------------------------------------------- FOR ASIDE ----------------------------------------------*/

/* .group{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.item{
    width: 100%;
    height: 2.5rem;
    padding: 1rem;
    text-transform: capitalize;
    cursor: pointer;
}

.item p{
    height: 2rem;
    display: flex;
    align-items: center;
}

.nomD{
    text-align: center;
}

.item i{
    margin: 0 .5rem;
}

.item.active p{
    background-color: #08C5BB;
    border-radius: 15px;
    color: #FFFFFF;
}

.group:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.group img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid #08C5BB;
    margin-bottom: .5rem;
}

.group p:nth-of-type(1){
    font-weight: bold;
}

.group p:nth-of-type(2){
    color: #08C5BB;
    text-transform: capitalize;
}

/*------------------------------------------- FOR OVERVIEW ----------------------------------------------*/

.overview{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.greeting{
    width: 100%;
    height: 10rem;
    display: flex;
    background: #0cece1;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.greeting div:nth-child(1){
    width: 60%;
}

.greeting div:nth-child(2){
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
}

.greeting img{
    height: 11rem;
    position: absolute;
    top: -2rem;
}

.greeting h2{
    margin-bottom: 1rem;
}

.greeting button{
    width: 8rem;
    height: 2rem;
    margin: 1rem 0;
    background: transparent;
    border: 1px solid #012FFF;
}

.greeting a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #012FFF;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.infos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.info {
    width: calc((100%) / 4 - .75rem);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(158, 158, 158, 0.3);
}

.info > * {
    height: 3rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.info i{
    width: 3rem;
    background: #012FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 2rem;
    border-radius: 10px;
    /* align-self: center; */
}

.info  div{
    width: 60%;
    /* background: blue; */
}

.info p{
    font-size: small;
}

.info span{
    font-size: larger;
}

.attente i{
    background: #ff7c01;
    color: white;
}

/* .info:nth-last-child(1){
    height: 15rem;
} */

.timing{
    width: 100%;
    height: max-content;
    display: flex;
    background: orange;
}

.timing_calendar{
    width: 70%;
}

.timing .calendar{
    width: 100%;
    height: 100vh;
    background: #1f1e1e;
}

.timing .weekdays{
    height: 15%;
    font-weight: bolder;
    padding: 0.3rem;
}

.timing .days{
    height: 85%;
    padding: 0.3rem;
}

/*------------------------------------------- FOR RENDEZ VOUS ----------------------------------------------*/

.rendez_vous{
    flex-direction: column;
    gap: 1rem;
    /* background: red; */
}

.rendez_vous h4 span, .patients h4 span{
    min-width: 2.5rem;
    height: 2rem;
    padding: 0.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #012FFF;
    color: #FFFFFF;
    margin-right: 5px;
    border-radius: 15px;
}

.rendez_vous_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.rdv{
    width: calc(100% / 4 - 1.5rem);
    height: 9rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: #FFFFFF;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 7px rgba(30, 30, 42, 0.3);
    margin-bottom: 1rem;
}

.rdv p:nth-of-type(3){
    /* background: red; */
    margin-bottom: 1rem;
}

.rendez_vous_container img{
    width: 20rem;
    height: 10rem;
    /* border-radius: 50%; */
}

.purchaser{
    color: #08C5BB;
    margin: 1rem;
}

.acceptation{
    width: 100%;
    height: 3rem;
    display: flex;
    /* background: #7faca9; */
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgb(211, 211, 211);
}

.acceptation a{
    width: 50%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* background: purple; */
    text-decoration: none;
}

.approve{
    border-right: 1px solid rgb(211, 211, 211);
    color: #08C5BB;
}

.decline{
    color: #ff7c01;
}

.annuled .decline{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accepted a{
    width: 100%;
}

.appointPlan{
    width: 100%;
    display: flex;
    height: calc(100vh - 4rem);
    /* background: rgb(29, 185, 42); */
    margin-top: 2rem;
    /* box-shadow: -0 0 15px #0e0e14; */
}

.calendrier{
    width: 70%;
    height: 100%;
    background: red;
}

.calendrier .calendar{
    width: 100%;
    height: 100%;
    background: #1f1e1e;
}

.calendrier .weekdays{
    height: 15%;
    font-weight: bolder;
    padding: 0.3rem;
}

.calendrier .days{
    height: 85%;
    padding: 0.3rem;
}

.programme{
    width: 30%;
    height: 100%;
    background: #2e2d2c;
    color: #eee;
    box-shadow: -10px 3px 15px rgba(14, 14, 20, 0.5);
}

.monthRdv{
    width: 100%;
    height: 80%;
    /* background: pink; */
    padding: 1rem;
}

.monthRdv h2{
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.rdvList li{
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rdvList li span{
    opacity: .5;
}

.rdvList li::before{
    content: "";
    width: .7rem;
    height: .7rem;
    display: block;
    background: #08C5BB;
    position: absolute;
    left: -1.25rem;
    top: .5rem;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(14, 14, 20, 1);
}

.rdvList li:nth-of-type(odd)::before{
    background: #ff7c01;
}

/*------------------------------------------- FOR PATIENTS ----------------------------------------------*/

.patients{
    flex-direction: column;
}

.patients_list{
    width: 100%;
    height: 65vh;
    display: flex;
    gap: 1rem;
    /* background: red; */
    margin-top: 3rem;
}

.list{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background: greenyellow; */
    gap: 1rem;
}

.list_head{
    width: 100%;
    display: flex;
    background: #8299ff;
    padding-right: 1rem;
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.list_infos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}

.list_infos::-webkit-scrollbar{
    width: 1vw;
    /* box-shadow: 0 0 15px rgba(37, 37, 143, 0.5); */
}

.list_infos::-webkit-scrollbar-thumb{
    background: #0addd2;
    border-radius: 15px;
    transition: 3s ease;
    box-shadow: 0 0 15px rgba(12, 194, 200, 0.5);
}

.list_infos::-webkit-scrollbar-thumb:hover{
    background: #08C5BB;
}

.list_infos::-webkit-scrollbar-track{
    background: #012FFF;
    border-radius: 15px;
}

.list_info{
    width: calc(100% - .5rem);
    display: flex;
    background: #FFFFFF;
    transition: .3s ease-in-out;
}

.list_info.active{
    background: #ff7c01;
    color: #FFFFFF;
}

/* .list_info:not(.active):hover{
    background: #ff7c01c0;
} */

.list_head div, .list_info div{
    width: calc(100% / 4);
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: .5rem;
    /* background: #012FFF; */
}

.data{
    width: calc(35% - 1rem);
    height: 100%;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px rgba(30, 30, 42, 0.3);
    /* padding: 1rem; */
    /* position: relative; */
}

/* .data > *{
    padding: 1rem;
} */

.data > div:not(.medical_link){
    width: 100%;
    padding: .5rem;
}

.data > div:nth-child(1){
    height: calc(40% - 1.75rem);
    display: flex;
    /* background: orange; */
}

.data > div:nth-child(2){
    height: calc(60% - 1.75rem);
    display: flex;
    padding-top: 2rem;
    /* background: rgb(0, 255, 55); */
}

.data img{
    /* width: 7rem; */
    height: 100%;
    border-radius: 15px;
    margin-right: 1rem;
}

.data h2{
    margin-top: 1rem;
}

.baseInfos{
    width: 70%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    /* background: red; */
    position: relative;
}

.contactPatient{
    width: 10rem;
    display: flex;
    justify-content: space-between;
    /* background: green; */
    position: absolute;
    bottom: 0;
    left: 0;
}

.contactPatient i{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(30, 30, 42, 0.5);
}

.contactPatient i:nth-child(1){
    background: #08C5BB;
}

.contactPatient i:nth-child(2){
    background: #012FFF;
}

.contactPatient i:nth-child(3){
    background: #ff7c01;
}

.medicalInfos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1.5rem;
    border-top: 1px solid rgb(226, 226, 226);
    /* padding: 2rem 0 1rem; */
    /* background: red; */
}

.medicalInfos div {
    width: calc(50% - .75rem);
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(215, 216, 214);
    text-align: center;
}

.medicalInfos span{
    color: #08C5BB;
}

.medicalInfos p{
    font-size: 1.5rem;
    margin-top: 5px;
}

.medical_link{
    width: 100%;
    height: 3.5rem;
    display: flex;
    background: #08C5BB;
}

.consult_lien{
    width: 80%;
    height: 100%;
}

.medicalfiles{
    width: 20%;
    height: 100%;
    background: orange;
    box-shadow: -5px 0 10px rgba(0, 0, 0, .3);
}

.medicalfiles i{
    font-size: 2rem;
}

.medical_link a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
}



.noDoc{
    width: calc(100% / 4 - 1.5rem);
    height: 10rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    padding: 2rem;
    text-align: center;
}

.noDoc i{
    font-size: 3rem;
    color: #ff7c01;
    background: none;
    /* animation: big 1s ease-out infinite backwards; */
}

/* @keyframes big {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
} */

.noDoc p{
    font-family: sans-serif;
    font-size: 1rem;
    margin-left: 1rem;
}

/* LOGOUT */

.logout{
    color: red;
    bottom: 0;
    left: 0;
    position: fixed;

    a{
        color: red;
        text-transform: capitalize;
        text-decoration: none;
    }
}