body{
    background: rgba(245, 242, 242, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 3rem;
    display: none;
    background: #FFFFFF;
    position: fixed;
    z-index: 4;
    padding-left: .5rem;
    box-shadow: 0 0 10px rgba(206, 206, 206, 0.8);
    border-bottom: 1px solid rgba(206, 206, 206, 0.8);
}

main{
    width: 100%;
    min-height: 100vh;
    /* padding-top: 4rem; */
    display: flex;
    background: rgba(245, 242, 242, 0.5);
    margin: 0;
    padding: 0;
    position: relative;
}

.left{
    width: 17%;
    height: 100%;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 5px -5px 5px rgba(206, 206, 206, 0.8);
    position: fixed;
}

.picture{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 2rem; */
}

.picture img{
    width: 5rem;
    height: 5rem;
    border: 3px solid #012FFF;
    border-radius: 50%;
    /* margin-bottom: 1rem; */
}

/* .picture h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
} */

.group{
    width: 85%;
    margin: .3rem 1px;
    padding: .5rem;
    display: flex;
    align-items: center;
    /* background: orange; */
}

.group.nom{
    margin-bottom: 2rem;

    p{
        width: 100%;
        text-align: center;
        text-transform: capitalize;
    }
}

.item i, .item div{
    height: 100%;
    display: flex;
    align-items: center;
}

.item i{
    margin-right: .5rem;
    font-size: 1.3rem;
}

.item{
    height: 3rem;
    text-transform: capitalize;
    font-weight: bold;
}

.item.active{
    background: #08C5BB;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group *{
    margin: 0 0.1rem;
    font-family: sans-serif;
    /* color: #FFFFFF; */
}

.group div{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*================================ NAVIGATION ================================*/

.open_nav, .close_nav{
    width: 1.5rem;
    height: 1.5rem;
    display: none;
    background: #ff7c01;
    color: #FFFFFF;
    cursor: pointer;
}

.open_nav{
    /* width: 100%;
    height: 2rem; */
    top: -1rem;
    left: -1rem;
    /* z-index: 4; */
}

.close_nav{
    position: fixed;
    top: 1rem;
    right: 1rem;
}

/*================================ CONTENU (BORD?) ================================*/

.bord{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 83%;
    padding: 2rem;
    /* background: red; */
    margin-left: 17%;
    overflow-x: hidden;
}

/*================================ PROFILE ================================*/

.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background: peru; */

    .conteneur{
        width: calc(100% - 1rem);
        min-height: 15rem;
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 1rem;

        > div{
            padding: 1.5rem 1rem;
            background: #FFFFFF;
        }
    }

    .section1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        img{
            width: 5rem;
            height: 5rem;
            /* border: 3px solid #012FFF; */
            border-radius: 50%;
        }

        p{
            font-family: sans-serif;
        }

        p:nth-of-type(1){
            font-size: 1.5rem;
        }

        button{
            width: 90%;
            height: 2.5rem;
            margin-top: 1rem;
            padding: 0 .5rem;
            text-transform: capitalize;
            font-weight: 900;
            background: #08C5BB;
            border: none;
            cursor: pointer;

            a{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFFFFF;
                text-decoration: none;
            }
        }

        button:hover{
            background: #012FFF;
        }
    }

    .section2{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 2.5rem;

        > div{
            grid-column: span 4;
            border-bottom: 1px solid rgba(206, 206, 206, 0.5);
            font-size: 1.5rem;
            text-transform: capitalize;

            p:nth-child(1){
                font-size: 1.3rem;
                margin-bottom: .5rem;
                opacity: .7;
            }
        }

        .email{
            text-transform: none;
        }
    }

    .formulaire{
        width: 100%;
        display: none;
        background: #FFFFFF;
        box-sizing: border-box;
        transition: 5ms ease-in;
    }

    form{
        width: 100%;
        height: fit-content;
        grid-column: span 12;
        /* background: #012FFF; */
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        padding: 1rem;
        box-sizing: border-box;

        > *{
            grid-column: span 4;
        }

        input{
            height: 3rem;
            padding-left: 1rem;
        }

        input::placeholder{
            text-transform: capitalize;
        }

        input[type = 'date']{
            text-transform: none;
        }

        input[type = 'file']{
            margin-top: 1rem;
            padding: 0;
            text-transform: none;
            outline: none;
            border: none;
            cursor: pointer;
        }

        input:not([type = 'file']):hover{
            border: 1px solid #08C5BB;
        }

        input:not([type = 'file']):focus{
            outline: 1px solid #08C5BB;
            border: 1px solid #08C5BB;
        }

        .validation{
            grid-column: span 8;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 1rem;
            /* background: #08C5BB; */
            box-sizing: border-box;

            input{
                grid-column: span 6;
                text-transform: capitalize;
                font-size: larger;
                cursor: pointer;
            }

            input:nth-child(1){
                background: #08C5BB;
                color: #FFFFFF;
                border: 1px solid #08C5BB;
            }

            input:nth-child(2){
                background: #ff7c01;
                color: #FFFFFF;
                border: 1px solid #ff7c01;
            }

            input:hover{
                background: #012FFF;
                border: 1px solid #012FFF;
            }
        }
    }
}

/*================================ DASHBOARD ================================*/

.dashboard{
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: minmax(); */
    min-height: 100%;
    gap: 1rem;
}

.dashboard > *{
    border-radius: 7px;
}

.dashboard > div:not(.greating){
    box-shadow: 7px 7px 15px rgba(190, 190, 190, 0.8);
}

.greating{
    grid-column: 1/13;
    /* width: 100%; */
    margin-bottom: 1rem;
    font-family: sans-serif;
    color: #08C5BB;
}

.greating p{
    font-size: small;
    font-weight: bold;
    color: #5f5f5f;
}

.infos{
    grid-column: span 6;
    height: 10rem;
    padding: 1rem;
    background: #ffffff;
}

.infos > p{
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}

.infos > p span {
    font-family: sans-serif;
    font-size: 1.1rem;
}

.infos > p i{
    color: #08C5BB;
    font-size: 1.5rem;
    cursor: pointer;
}

.info img{
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.info p{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    /* background: #08C5BB; */
}

.your_doc span:nth-of-type(1){
    font-family: sans-serif;
    font-size: 1.3rem;
}

.your_doc span:nth-of-type(2){
    color: #08C5BB;
}

.your_doc a{
    text-decoration: none;
}

.contact_doc{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.contact_doc i{
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background: rgba(207, 207, 207, 0.8);
    border-radius: 5px;
    color: #08C5BB;
}

.contact_doc .icon-phone{
    color: #ff7c01;
}

.info {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.physiological .info p{
    width: max-content;
    /* background: red; */
}

.physiological .info span:nth-of-type(1){
    font-family: sans-serif;
    font-weight: lighter;
    color: #08C5BB;
}

.physiological .info span:nth-of-type(2){
    font-family: sans-serif;
    font-size: 1.3rem;
}

/* .service{
    display: none;
}

.service.show{
    display: flex;
} */

.greet_infos{
    /* width: 100%; */
    grid-column: span 12;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    /* place-items: center; */
    padding: 2rem;
    background: #ffffff;
}

.greet_infos .greet_infos_intro{
    grid-column: span 12;
    text-align: center;
    /* background: pink; */
}

.greet_infos > div:not(:nth-child(1)){
    grid-column: span 4;
    min-height: 7rem;
    padding: 1rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(207, 207, 207, 0.8);;
    border-radius: 17px;
}

.greet_infos > div:not(:nth-child(1)):hover{
    box-shadow: 0 0 15px rgba(190, 190, 190, 0.5);
}

.greet_infos i{
    font-size: 2.5rem;
    color: #ff7c01;
}

.greet_infos h3{
    text-transform: capitalize;
    font-family: sans-serif;
    color: #08C5BB;
    margin: .8rem 0 .3rem;
}

.greet_infos p{
    font-weight: bold;
    font-family: sans-serif;
    color: #5f5f5f;
}

.greet_infos_intro h2{
    /* color: #08C5BB; */
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.greet_infos_intro p{
    color: #012FFF;
    text-align: center;
}

.noDoc{
    justify-content: flex-start;
    gap: .5rem;
}

.noDoc i{
    font-size: 3rem;
    color: red;
    animation: big 1s ease-out infinite backwards;
}

@keyframes big {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

.qualif{
    text-transform: capitalize;
}

.noDoc p{
    width: unset;
    display: block;
    font-family: sans-serif;
}

.noDoc span{
    color: #08C5BB;
}

.noDoc{
    justify-self: center;
}

/*================================ RENDEZ VOUS ================================*/

.rendez-vous{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.rendez-vous h2{
    font-family: sans-serif;
    text-transform: uppercase;
}

.rendez-vous form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: minmax(10rem, auto); */
    gap: 1rem;
    background: #ffffff;
    padding: 1rem;
    box-shadow: 7px 7px 15px rgba(190, 190, 190, 0.8);
}

.rendez-vous form .appoint_info{
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background: red; */
}

/* .vdoc{
    background: red;
    grid-column: span 3;
} */

.rendez-vous form > h2{
    grid-column: span 12;
}

.rendez-vous label{
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: #08C5BB;
    text-transform: capitalize;
}

.rendez-vous .required{
    color: #012FFF;
    font-size: 1.5rem;
    grid-column: span 12;
}

.rendez-vous input{
    height: 3rem;
    padding: 0 .5rem;
    /* box-shadow: 7px 7px 7px rgba(190, 190, 190, 0.5); */
    border: 2px solid #ff7c01;
    border-radius: 7px;
    box-sizing: border-box;
}

.rendez-vous input[readonly]{
    background: rgba(190, 190, 190, 0.2);
    border: none;
}

.rendez-vous input[type="submit"], .rendez-vous input[type="cancel"]{
    grid-column: span 4;
    height: 3rem;
    align-self: flex-end;
    background: #08C5BB;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.rendez-vous input[type="submit"]:hover{
    background: #ff7c01;
}

/* .appoint_info{
    display: flex;
    flex-direction: column;
} */

.rdv_hystory{
    width: 100%;
}

.rdv_hystory h2{
    margin-bottom: 1rem;
}

.rdv_hystory table{
    width: 100%;
    text-align: center;
    box-shadow: 7px 7px 15px rgba(190, 190, 190, 0.8);
}

.rdv_hystory tr:nth-of-type(even){
    background: #08C5BB;
}

.rdv_hystory tr:nth-of-type(even):hover{
    background: #08c5bcaf;
}

.rdv_hystory tr:nth-of-type(odd){
    background: #ffffff;
}

.rdv_hystory tr:nth-of-type(odd):hover{
    background: #08c5bc03;
}

.rdv_hystory td{
    height: 2.5rem;
    /* border: 1px solid rgba(182, 182, 182, 0.5); */
}

.rdv_hystory td:nth-child(1){
    padding: .5rem;
}

.rdv_hystory td:not(:nth-child(1)){
    border-left: 3px solid rgba(233, 233, 233, 0.8);
}

.rdv_hystory button{
    width: 80%;
    height: 80%;
    background: #012FFF;
    border: none;
    border-radius: 5px;
}

.rdv_hystory button:hover{
    background: #ff7c01;
    /* border: 2px solid #ff7c01; */
    border-radius: 7px;
    transition: all .2s ease-in-out;
}

.rdv_hystory a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #012FFF; */
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

.rdv_hystory a:hover{
    /* background: #ff7c01; */
    /* color: #FFFFFF; */
    transition: all .2s ease-in-out;
}

/*================================ DOSSIERS ================================*/

.dossiers{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    /* background:#ff7c01; */
    position: relative;
}

.dossierLists{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* background: red; */
}

.dossierLists{
    
    > h2, > p{
        grid-column: span 6;
        /* text-transform: capitalize; */
        font-family: sans-serif;
    }

    p{
        margin-bottom: 1rem;
        > i{
            color: #08C5BB;
        }
    }
}

.dossier{
    /* width: 11rem; */
    min-height: 9rem;
    padding: .5rem;
    box-sizing: border-box;
    /* grid-column: 1/7; */
    background: #FFFFFF;
    /* text-align: center; */
    /* cursor: pointer; */
    border-radius: 7px;
    position: relative;
}

.dossier:nth-child(1){
    background: #ff7c01ea;

    *{
        color: #FFFFFF;
    }

    i:nth-child(2){
        background: #FFFFFF;
        color: #ff7c01ea;
    }
}

.dossier:hover{
    /* transform: scale(1.05);
    transition: 500ms ease-in-out; */
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.8);
}

.dossier > *{
    margin-bottom: .7rem;
}

.dossier div{
    opacity: .9;
}

/* .dossier p{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    margin-top: 2rem;
    color: rgb(245, 242, 242);
} */

.dossier  > i:nth-child(1){
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

.dossier > i:nth-child(2){
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff7c01;
    color: #FFFFFF;
    /* padding: .5rem; */
    font-size: larger;
    border-radius: 5px;
}

.dossier p{
    color: #08C5BB;
    /* letter-spacing: 1px; */
    /* text-transform: uppercase; */
    font-size: large;
}

.dossierLists .noDoc{
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    /* border: 1px solid #000000; */
    padding: 1rem;
    border-radius: 7px;
}

.det i{
    margin-right: .5rem;
}

.content{
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    /* margin-bottom: 1rem; */
    gap: 1rem;
    padding: 5rem 1rem 1rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(231, 231, 231, 0.5), 7px 7px 5px rgba(190, 190, 190, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;

    /* ================================= FOR .CONTENT CHILDREN ========================================= */

    *::first-letter{
        text-transform: uppercase;
    }

    .details{
        grid-column: 1/5;
    }

    .resultat{
        grid-column: 5/13;
    }

    .diagnostic{
        grid-column: 1/5;
    }

    .prescription{
        grid-column: 5/9;
    }

    .fichiers{
        grid-column: 9/13;
        
        .fichier{
            width: 100%;
            height: 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #FFFFFF;
            border-radius: 7px;
            margin: .3rem 0;
            padding: 0 .5rem;
            box-sizing: border-box;

            i{
                height: 80%;
                display: flex;
                align-items: center;
            }

            p{
                width: 80%;
                display: block;
                align-items: center;
                margin-bottom: .5rem;
                color: #000000;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            a{
                text-decoration: none;
                margin-right: .3rem;
                color: #ff7c01;
            }

            a:hover{
                color: #012FFF;
            }

            /* i{
                width: 10%;
                background: #ff7c01;
            } */
        }
    }

    .content-section{
        min-height: 12.5rem;
        border-radius: 10px;
        background: #08c5bc23;
        padding: 1rem;
        overflow: hidden;

        h3{
            width: fit-content;
            border-radius: 7px;
            letter-spacing: 1px;
        }

        p{
            margin-top: .5rem;
            color: #000000af;
            font-size: 18px;
        }

        .swip{
            /* display: flex;
            justify-content: flex-end;
            gap: .5rem; */
            margin-top: .7rem;

            button{
                height: 2rem;
                text-transform: uppercase;
                padding: .5rem;
                background: none;
                color: #ff7c01;
                border: 1px solid #ff7c01;
            }

            button:hover{
                background: #ff7c01;
                color: #FFFFFF;
                border: 1px solid transparent;
                transition: 300ms ease-in-out;
            }
        }
    }

    .close{
        font-size: 1rem;
        color: #ff7c01;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    h2{
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .fichier.absent{
        i,p{
            color: red;
        }

        i{
            font-size: 1.5rem;
        }
    }
}

/* LOGOUT */

.logout{
    color: red;
    bottom: 0;
    left: 0;
    position: fixed;

    a{
        color: red;
        text-transform: capitalize;
        text-decoration: none;
    }
}